p {
  color: #3BA6C9;
  font-weight: 700;
  text-align: center;
  margin-bottom: 67px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

body .header {
  max-width: 100%;
  margin: auto;
  box-shadow: 0 0px 8px #aaa;
  padding: 0px 172px;
  z-index: 10;
}

body .header__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

body .header__logo {
  margin-left: 20px;
}

body .header__logo a {
  font-size: 24px;
  margin: 0px 0px 0px 16px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

body .header__logo img {
  vertical-align: -15px;
  margin-top: 24px;
}

body .header__menu a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}

body .header__menu a:hover {
  color: #000;
}

body .header--price {
  margin: 39px 46px;
}

body .header__contact button {
  font-size: 14px;
  padding: 11px 36px 12px 35px;
  background: linear-gradient(45deg, #FA41CC, #6020B0);
  border-radius: 10px;
  outline: 0;
  color: #fff;
  margin: 0px 21px 24px 0px;
}

body .main {
  margin: auto;
  padding: 0px 171px 0px 192px;
  max-width: 100%;
  background: url(./img/circle.png);
  background-position: top -145px right -80px;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

body .main__ttl1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

body .main__ttl1 h1 {
  margin-top: 161px;
  font-size: 34px;
  margin-bottom: 38px;
}

body .main__ttl1 p {
  margin-bottom: 39px;
}

body .main__circle {
  position: relative;
  top: 0;
  bottom: 0;
}

body .main__img {
  padding-top: 63px;
}

body .main__contact {
  font-size: 14px;
  padding: 11px 36px 12px 35px;
  background: linear-gradient(45deg, #FA41CC, #6020B0);
  border-radius: 10px;
  outline: 0;
  color: #fff;
  margin: 0px 21px 24px 0px;
  width: 42%;
}

body .main .features {
  max-width: 100%;
  margin: auto;
  padding: 167px 135px  156px 192px;
  font-weight: 700;
}

body .main .features__top h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

body .main .features__ttl h2 {
  font-size: 28px;
  text-align: center;
}

body .main .features__box {
  display: flex;
}

body .main .features__txt1 h3 {
  margin: 108px 0px 54px 157px;
  line-height: 48px;
}

body .main .features__txt1 p {
  margin-bottom: 133px;
}

body .main .features__txt2 h3 {
  margin: 73px 190px 49px 0px;
  line-height: 48px;
}

body .main .features__txt2 p {
  margin: 0px 84px 226px 0px;
}

body .main .features__txt3 h3 {
  margin: 94px 0px 42px 173px;
}

body .main .features__txt3 p {
  margin-bottom: 157px;
}
